<% if (alert.message !== "") { %>
    <div class="flex p-4 mb-4 text-sm text-<%=alert.status%>-800 rounded-lg bg-<%=alert.status%>-50 " role="alert">
        <span class="sr-only">Info</span>
        <div>
            <span class="font-medium"><%= alert.message %></span>
        </div>
    </div>
<% } %>
