<%- include("../partials/header")%>
    <%- include("../partials/navbar") %>
    <%- include("../partials/sidebar") %>

    <div class="p-4 sm:ml-64">
        <div class="p-4 mt-14">
            <div class="flex flex-col gap-y-2 pb-10 md:-mt-16">
                <h1 class="text-2xl font-medium">Dashboard</h1>
                <p class="text-md md:text-lg font-light text-gray-400">Lihat apa yang sudah kamu buat hari ini!</p>
            </div>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8 mb-8">
                <div class="flex flex-row max-w-sm p-6 bg-white rounded-lg shadow-sm justify-between items-center">
                    <div class="block">
                        <h5 class="mb-2 text-gray-400">Konsumen</h5>
                        <p class="font-bold text-2xl tracking-tight text-gray-900">25.000</p>
                    </div>
                    <span class="text-4xl text-gray-400"><i class="bx bx-user"></i></span>
                </div>
                <div class="flex flex-row max-w-sm p-6 bg-white rounded-lg shadow-sm justify-between items-center">
                    <div class="block">
                        <h5 class="mb-2 text-gray-400">Pendapatan</h5>
                        <p class="font-bold text-2xl tracking-tight text-gray-900">Rp25.000.000</p>
                    </div>
                    <span class="text-4xl text-gray-400"><i class="bx bx-dollar-circle"></i></span>
                </div>
                <div class="flex flex-row max-w-sm p-6 bg-white rounded-lg shadow-sm justify-between items-center">
                    <div class="block">
                        <h5 class="mb-2 text-gray-400">Transaksi</h5>
                        <p class="font-bold text-2xl tracking-tight text-gray-900">2.000</p>
                    </div>
                    <span class="text-4xl text-gray-400"><i class="bx bx-money"></i></span>
                </div>
            </div>
            <p class="text-xl text-gray-900 font-medium">10 transaksi terakhir</p>
            <div class="flex flex-col mt-6 gap-y-3">
                <div class="flex flex-col">
                    <div class="flex flex-row items-center w-full p-3 bg-white rounded-md shadow-sm">
                        <img class="h-10 w-10 rounded mr-4 md:mr-6" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="">
                        <div class="flex flex-row items-center w-full justify-between gap-x-2">
                            <h5 class="text-xs md:text-lg">Pangkas Rambut Ipung</h5>
                            <h5 class="text-xs md:text-lg">Aldi Nugraha</h5>
                            <h5 class="text-xs md:text-lg">12 Juli, 2022</h5>
                            <a href="#" class="text-3xl text-gray-400 hover:text-gray-900"><i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../partials/footer")%>